@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --white: #e6e9ea;
  --black: #373133;
  --blue: #484fed;
  --green: #1fcb96;

  --lightblue: #c0d6d4;
  --darkbleu: #0d1134;
  --gris: #45464b;
  --sable: #dcb444;


  --titre: 'Concert One', cursive;
  --titre1: 'Oswald', sans-serif;
  --texte: 'Roboto Slab', serif;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--texte);
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('img/love.jpg');
  background-size: cover;
}

.game {
  background-color: rgba(34, 34, 34, 0.285);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1 {
  color: var(--sable);
  font-family: var(--titre);
  font-size: 45px;
  text-shadow: 0 1px 0px #0d1134, 1px 0 0px #c0d6d4, 1px 2px 1px #0d1134, 2px 1px 1px #c0d6d4, 2px 3px 2px #0d1134, 3px 2px 2px #c0d6d4, 3px 4px 2px #0d1134, 4px 3px 3px #c0d6d4, 4px 5px 3px #0d1134, 5px 4px 2px #c0d6d4, 5px 6px 2px #0d1134, 6px 5px 2px #c0d6d4, 6px 7px 1px #0d1134, 7px 6px 1px #c0d6d4, 7px 8px 0px #0d1134, 8px 7px 0px #c0d6d4, 2px 2px 2px rgba(206,89,55,0);
  margin: 0;
  margin-bottom: 10px;
}

/* mes btn */

.btn {
  cursor: pointer;
  background-color: var(--darkbleu);
  border: none;
  padding: 10px 20px;
  color: var(--white);
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: var(--lightblue);
  color: var(--darkbleu);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(.98);
}

.rules-btn {
  position: absolute;
  left: 30px;
  top: 30px;
}

/* règles du jeu */

.rules {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--sable);
  color: var(--white);
  width: 450px;
  height: 345px;
  padding: 20px;
  line-height: 1.5;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: all 0s ease-in-out;
}

.rules.show {
  visibility: visible;
  opacity: 1;
}

.rules p {
  margin-top: 0;
  margin-bottom: .5rem;
}


.start {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--sable);
  color: var(--white);
  width: 450px;
  height: 345px;
  padding: 20px;
  line-height: 1.5;
  border-radius: 4px;
  visibility: visible;
  opacity: 1;
  transition: all 0s ease-in-out;
}

.start.show {
  visibility: hidden;
  opacity: 0;
}

.start p {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 30px;
  text-align: center;
}

.start-btn {
  margin-top: 20px;
}

/* icon son */

.sound-container {
  position: absolute;
  top: 50%;
  right: 15%;
}

.sound-container #sound {
  width: 40px;
  height: auto;
  transition: 0.1s ease-in-out;
}

#sound:hover {
  filter: drop-shadow(2px 2px 1px #c0d6d4);
  cursor: pointer;
}

/* img du game over */

#game-over {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 250px;
  height: 300px;
  visibility: hidden;
  opacity: 0;
  margin-top: 55px;
}

#you-won, #you-lose {
  width: 280px;
  margin-bottom: 20px;
}

#restart {
  color: var(--white);
  cursor: pointer;
  padding: 4px 8px;
  line-height: 1.5;
  border: 2px solid var(--sable);
  border-radius: 4px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

#restart:hover {
  background-color: var(--lightblue);
  color: var(--darkbleu);
}

#canvas {
  background-color: var(--black);
  background-image: url('img/essaye2.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  border-radius: 4px;
}
